AplicaciónUsuarios/Web References/horasasignatura/MediaHoras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HorasAsignatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HorasAsignaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HorasAsignaturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HorasAsignaturaSoapIn">
    <wsdl:part name="parameters" element="tns:HorasAsignatura" />
  </wsdl:message>
  <wsdl:message name="HorasAsignaturaSoapOut">
    <wsdl:part name="parameters" element="tns:HorasAsignaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaHorasSoap">
    <wsdl:operation name="HorasAsignatura">
      <wsdl:input message="tns:HorasAsignaturaSoapIn" />
      <wsdl:output message="tns:HorasAsignaturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaHorasSoap" type="tns:MediaHorasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HorasAsignatura">
      <soap:operation soapAction="http://tempuri.org/HorasAsignatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaHorasSoap12" type="tns:MediaHorasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HorasAsignatura">
      <soap12:operation soapAction="http://tempuri.org/HorasAsignatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaHoras">
    <wsdl:port name="MediaHorasSoap" binding="tns:MediaHorasSoap">
      <soap:address location="http://horasasignatura.azurewebsites.net/MediaHoras.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaHorasSoap12" binding="tns:MediaHorasSoap12">
      <soap12:address location="http://horasasignatura.azurewebsites.net/MediaHoras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>